rrgen/
installs/
__pycache__/
scratch/
*.pyc
slurm-*
*.out
.idea/
secrets.py

# datasets
data/asset/
data/hsplit/
data/onestopenglish/
data/turkcorpus/
data/newsela-auto/
data/outputs/
logs/
scratch/
